.main2{
    background-image: url("https://img.freepik.com/free-vector/cloud-background-pastel-paper-cut-design-vector_53876-135919.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}